<!--This page is not active now, but if we want a SPLASH page before the home page for demo -->
<!--We can use this format. Rake routes in terminal to view this path.  -->
<!--Should be accessed at localhost3000/pages -->


<div class="jumbotron">
    <div class="container">
            <h1><strong>Welcome to WebbyWood!</strong></h1>
            <p>Hollywood gone<strong> WORLDWIDE.</strong></p>
            <% if user_signed_in? %>
        <strong>Welcome to WebbyWood!</strong>
        <% else %>
        <p>
            <%= link_to "Log In", new_user_session_path, class: "btn btn-success btn-lg" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>   
        </p>
    <% end %>
</div>
</div>

