<!--This is the section for editing -->
<!--Notice it pushes to the "_form.html.erb" -->

<h1>Editing Link</h1>

<%= render 'form' %>


<%= link_to 'Show', @link %> |
<%= link_to 'Back', links_path %>
