<!--This is the New script section, it is unseen in our current base and automattically forwards to _form.html.erb in the links folder -->

<h1>New Script</h1>

<%= render 'form' %>

<%= link_to 'Back', links_path %>
