/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.webbylogo {
    position: relative;
}

.content-section .video-section{
    max-height: 0px;
    padding: 0 0 0px;
}

#mainindexbody {
  margin-left: 100px;
}

#main_content #content {
    float: none;
    padding-bottom: 0px;
}

#tag_cloud {
    width: 600px;
    line-height: 1.6em;
}

header.navbar.navbar-inverse {
    padding: 0;
    margin: 0;
}

.link #profilepicmain img {

}

.navbar-inverse {
    background-color: #222;
    border-color: #090909;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: black;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: black;
}

.navbar-default {
    background-color: #56A4B2;
    border-color: #56A4B2;
    padding: none;
}

.video-section .pattern-overlay {
background-color: rgba(71, 71, 71, 0.59);
min-height: 796px;
/* Incase of overlay problems just increase the min-height*/
}

header.navbar.navbar-inverse {
    padding: 10;
    margin: 0;
}

.video-section h1, .video-section h3{
text-align:center;
color:#fff;
}

#signupmainbtn {
    margin-top: 205px;
    margin-left: 10px;
    position: relative;
}


#mainpagebuttons {
    text-align: center;
}

#rectangle {
    width: 220px;
    height: 100px;
    background: #4da1f7;
    background: gray;
    position: fixed;
    margin-top: 10px;
    margin-left: 1185px;
    opacity: 0.5;
}



.video-section h1{
font-size: 50px;
font-family: 'Buenard', serif;
font-weight:bold;
text-transform: uppercase;
text-shadow: 1px 1px 1px #000;
-webkit-text-shadow: 1px 1px 1px #000;
-moz-text-shadow: 1px 1px 1px #000;
}


.video-section .buttonBar{display:none;}
.player {font-size: 1px;}

#logo {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding: 15px 0;
}

.panel-body {
    background-color: #B3D5FF;
    border-color: black;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    background-color: rgba(154, 75, 214, 0.58);
    border-color: #56A4B2;
}

#coverimage {
    vertical-align: middle;
    border: solid;
    margin-left: 800px;
    margin-bottom: 30px;
    width: 150px;
    height: 150px;
    position: relative;
}

#coverimage img {
    width: 325px;
    height: 500px;
}

#plotdescription {
  width: 700px;
}

#titlebutton {
  margin-bottom: 30px;
}

#scriptinfo {
  border: dashed yellow;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
}

.navbar-default {
    background-color: #56A4B2;
    border-color: #56A4B2;
}


#logoheader {
    padding: 0;

}

#main_content #content {
    float: none;
    padding-bottom: 100px;
}

.link {
    padding: 2em 1em;
    border-bottom: 1px solid #e9e9e9;
}

.title a {
      color: #FF4500;
    }
//
.comments_title {
    margin-top: 2em;
}

#comments .comment{
        padding: 1em 0;
        border-top: 1px solid #E9E9E9;
}

#comments_wrapper .lead {
            margin-bottom: 0;
  }

.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: white;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 12px;
  background: #fff;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background-color: #29d;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 100%;
  overflow: hidden;
}

.pace .pace-activity {
  position: fixed;
  top: 0;
  right: -32px;
  bottom: 0;
  left: 0;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  -webkit-background-size: 32px 32px;
  -moz-background-size: 32px 32px;
  -o-background-size: 32px 32px;
  background-size: 32px 32px;

  -webkit-animation: pace-theme-barber-shop-motion 500ms linear infinite;
  -moz-animation: pace-theme-barber-shop-motion 500ms linear infinite;
  -ms-animation: pace-theme-barber-shop-motion 500ms linear infinite;
  -o-animation: pace-theme-barber-shop-motion 500ms linear infinite;
  animation: pace-theme-barber-shop-motion 500ms linear infinite;
}

@-webkit-keyframes pace-theme-barber-shop-motion {
  0% { -webkit-transform: none; transform: none; }
  100% { -webkit-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-moz-keyframes pace-theme-barber-shop-motion {
  0% { -moz-transform: none; transform: none; }
  100% { -moz-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-o-keyframes pace-theme-barber-shop-motion {
  0% { -o-transform: none; transform: none; }
  100% { -o-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-ms-keyframes pace-theme-barber-shop-motion {
  0% { -ms-transform: none; transform: none; }
  100% { -ms-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@keyframes pace-theme-barber-shop-motion {
  0% { transform: none; transform: none; }
  100% { transform: translate(-32px, 0); transform: translate(-32px, 0); }
}

#signinbody {
    background: url(https://dl.dropboxusercontent.com/u/27576976/images/parallax1.png);
    background-color: #444;
    background-size: max-height;
    background: url(https://dl.dropboxusercontent.com/u/27576976/images/parallax3.png),url(https://dl.dropboxusercontent.com/u/27576976/images/parallax2.png),url(https://dl.dropboxusercontent.com/u/27576976/images/parallax1.png);
}

#splashbackground body {
    background: url(http://mymaplist.com/img/parallax/back.png);
    background-color: #444;
    background-size: max-height;
    background: url(https://dl.dropboxusercontent.com/u/27576976/images/parallax3.png),url(https://dl.dropboxusercontent.com/u/27576976/images/parallax2.png),url(http://mymaplist.com/img/parallax/back.png);
}

.vertical-offset-100{
    padding-top:100px;
    padding-bottom: 400px;
}

#signinbody .headinglogin h1 {
  color:white;
  text-align: center;
}

button, input, optgroup, select, textarea {
    color: black;
    font: inherit;
    margin: 0;
}


.panel-default > .panel-heading {

}

.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading{
    background: rgba(122, 130, 136, 0.2)!important;
}

.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.2)!important;
}

.panel-primary {
    border-color: rgba(46, 51, 56, 0.2);
}

#myModalLabel {
    background-color: grey;

}

#modalterms {
  background-color: grey;

}

/*THIS SECTION IS FOR THE UPLOAD SCRIPT AND CREATE PROFILE PAGES*/

#submitscriptblock {
  padding: 0;
  float: right;
}

#buildprofileblock {
  padding: 0;
  float: right;
}

#createprofileblock{
  width: 600px;
  position: fixed;
}

#createprofileblock img{
  width: 720px;
  height: 300px;
}

#uploadinfoblock {
  width: 600px;
  position: fixed;
}

#uploadinfoblock img {
  width: 450px;
  height: 400px;
}

/*THIS SECTION IS THE END OF THE UPLOAD SCRIPT AND CREATE PROFILE PAGES*/

#profilepic img {
  border-radius: 50%;
}

#profiletopic {
  color: #56A4B2;
  font-size: 30px;
}

#profileanswer {
  font-size: 25px;
}

#profileInfoBlock {
    width: 600px;
    margin-left: 300px;
    margin-top: 0px;
    position: absolute;
}

#profileButtons {
  width: 350px;
  margin-top: 150px;
  margin-bottom: 100px;
  margin-left: 50px;
}
/*THIS SECTION IS FOR THE ROTATE OF PROFILE PICTURE*/
.demo-3 {
    position:relative;
    width:300px;
    height:200px;
    overflow:hidden;
    float:left;
    margin-right:20px
}
.demo-3 figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
    margin-left:0px
}
.demo-3 figure img {
    display:block;
    position:relative;
    z-index:10;
    margin:-15px 0
}
.demo-3 figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.demo-3 figure h2 {
    font-family:'Lato';
    color:#fff;
    font-size:20px;
    text-align:left
}
.demo-3 figure p {
    display:block;
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0;
    color:#fff;
    text-align:left
}
.demo-3 figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:29px 44px;
    background-color:rgba(26,76,110,0.5);
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.demo-3 figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.demo-3 figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}



/*END OF SECTION FOR THE ROTATE OF PROFILE PICTURE*/


  /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
