@import url(http://fonts.googleapis.com/css?family=Slabo27px);

$font-size: 16px;
$font-family: 'Slabo 27px', serif; 
$line-height: 1.667;

$material-blue: #2196F3;
$base-color: #373231;
$heading-color: white;
$link-color: #212121;
$link-hover-color: $material-blue;

html, body {
  background: white;
  font-family: $font-family;
  line-height: $line-height;
}
body {
  color: $base-color;
  font-size: $font-size;
  font-weight: normal;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-weight: normal;
}
h1 {font-size: 3rem;}
h2,h3 {font-size: 1.5rem;}
h3 {margin-bottom: .5em;}

a {
  color: $material-blue;
  text-decoration: none;
  &:hover {
    color: darken($material-blue, 20);
  }
}
ul {margin: 0; padding: 0;}
ul.list-unstyled {
  list-style: none;
  list-position: outside;
}

hr {
  height: 0;
  box-sizing: content-box;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  border-top: 1px solid #eee;
}

.align-left {float: left;}
.align-right {float: right;}
.cf:after {
  content: " ";
  display: table;
  height: 10px;
}
.share {
  color: #BBDEFB;
  &:hover {color: $material-blue;}
}
.alert {
  color: #E91E63; 
  opacity: 0.5;
  &:hover {
    color: #E91E63;
    opacity: 1;
  }
}

.card {
  max-width: 320px;
  margin: 0 auto;
  border: 1px solid lighten($base-color, 60);
  background: $material-blue;

  header {
    text-align: center;
    padding: 1em;
    h1, h2 {
      color: $heading-color;
      margin: 0;
      line-height: 1.25;
    }
    h2 {margin-bottom: 1em;}
    img.avatar {
      border-radius: 50%;
      max-width: 120px;
      height: auto;
      padding: .5em;
      background-color: $material-blue;
      transition: all 150ms ease-in-out;
      margin-bottom: -3em;
      &:hover {
        padding: 0;
        max-width: calc(120px  1em);
        background: lighten($material-blue, 20);
      }
    } // end avatar
  } // end header
} // end card

article, footer {
  background: #fff;
  padding: 1em;
}
article  footer {padding-top: 0;}

footer.closure {
  text-align: center;
  font-size: 12px;
  color: #868686;
}

tags{
  margin:0;
  padding:0;
  list-style:none;
}

.tags li, .tags a{
  float:left;
  height:24px;
  line-height:24px;
  position:relative;
  font-size:11px;
}

.tags a{
  font-family: "Open Sans", sans-serif;
  margin-left:20px;
  padding:0 10px 0 12px;
  background:#0089e0;
  color:#fff;
  text-decoration:none;
  -moz-border-radius-bottomright:40px;
  -webkit-border-bottom-right-radius:40px;
  border-bottom-right-radius:40px;
  -moz-border-radius-topright:40px;
  -webkit-border-top-right-radius:40px;
  border-top-right-radius:40px;
}

.tags a:before{
  content:"";
  float:left;
  position:absolute;
  top:0;
  left:-12px;
  width:0;
  height:0;
  border-color:transparent #0089e0 transparent transparent;
  border-style:solid;
  border-width:12px 12px 12px 0;
}

.tags a:after{
  content:"";
  position:absolute;
  top:10px;
  left:0;
  float:left;
  width:4px;
  height:4px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  background:#fff;
  -moz-box-shadow:-1px -1px 2px #004977;
  -webkit-box-shadow:-1px -1px 2px #004977;
  box-shadow:-1px -1px 2px #004977;
}

.tags a:hover {
  background:#555;
}

.tags a:hover:before {
  border-color:transparent #555 transparent transparent;
} 
