// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spacer {
  height: 40px;
}

#tag_cloud {
      width: 400px;
      line-height: 1.6em;
      .s  { font-size: 0.6em; }
      .m { font-size: 1.0em; }
      .l   { font-size: 1.6em; }
    }

 #tag_cloud {
  margin:0;
  padding:0;
  list-style:none;
}

#tag_cloud li, #tag_cloud a{
  float:left;
  height:24px;
  line-height:24px;
  position:relative;
  font-size:11px;
}

#tag_cloud a{
  font-family: "Open Sans", sans-serif;
  margin-left:20px;
  padding:0 10px 0 12px;
  background:#276e7c;
  color:#fff;
  text-decoration:none;
  -moz-border-radius-bottomright:40px;
  -webkit-border-bottom-right-radius:40px;
  border-bottom-right-radius:40px;
  -moz-border-radius-topright:40px;
  -webkit-border-top-right-radius:40px;
  border-top-right-radius:40px;
}

#tag_cloud a:before{
  content:"";
  float:left;
  position:absolute;
  top:0;
  left:-12px;
  width:0;
  height:0;
  border-color:transparent #686868  transparent transparent;
  border-style:solid;
  border-width:12px 12px 12px 0;
}

#tag_cloud a:after{
  content:"";
  position:absolute;
  top:10px;
  left:0;
  float:left;
  width:4px;
  height:4px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  background:#fff;
  -moz-box-shadow:-1px -1px 2px #004977;
  -webkit-box-shadow:-1px -1px 2px #004977;
  box-shadow:-1px -1px 2px #004977;
}

#tag_cloud a:hover {
  background:#555;
}

#tag_cloud a:hover:before {
  border-color:transparent #555 transparent transparent;
}